<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta author="{{author}}">
    <title>{{title}}</title>
    <style>
      body { padding: 20px 15%; font-size: 18px; font-family: sans; }
      .header { list-style: "§"; }
      .header::marker { font-family: monospace; color: #aaa; }
      .header:hover { display: list-item; text-decoration: underline; }
      .header>a { text-decoration: unset; color: unset; }
      a:hover { text-decoration-thickness: 2px; }
      ::-moz-selection { background: #ff0; }
      ::selection { background: #ff0; }
    </style>
  </head>
  <body>
    <article>
      {{body}}
    </article>
  </body>
</html>

